{{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn btn-primary">{{ button|default('Créer') }}</button>
    <a href="{{ path('admin.lesson.index') }}"><button class="btn btn-primary">Retour</button></a>
{{ form_end(form) }}
