{% extends 'base.html.twig' %}
{% block title 'Mes cours' %}

{% block body %}

    <div class="container mt-4">
        <h1>Mes cours</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Thème</th>
                    <th>Participation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                    <tr>
                        <td>{{ lesson.lesson.date | date("d/m/Y") }}</td>
                        <td>{{ lesson.lesson.theme.name }}</td>
                        <td>{{ lesson.presence }}</td>
                        <td class="btn-group">
                            <a href="{{ path('lesson.show', {id: lesson.lesson.id}) }}" class="btn btn-primary">Voir</a>
                            {% if lesson.lesson.date|date() > "now"|date() %}
                                {% if lesson.status == 2 %}
                                        <a href="{{path('lesson.answer', {id: lesson.lesson.id, answer: 1, from: "lesson"})}}" class="btn btn-success">S'inscrire</a>
                                        <a href="{{path('lesson.answer', {id: lesson.lesson.id, answer: 0, from: "lesson"})}}" class="btn btn-danger">Refuser</a>
                                {% elseif lesson.status == 1 %}
                                        <a href="{{path('lesson.answer', {id: lesson.lesson.id, answer: 0, from: "lesson"})}}" class="btn btn-danger">Se désinscrire</a>
                                {% else %}
                                        <a href="{{path('lesson.answer', {id: lesson.lesson.id, answer: 1, from: "lesson"})}}" class="btn btn-success">S'inscrire</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
