<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BadCynton{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
        <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% if app.user %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                {% if is_granted("ROLE_ADMIN") %}
                    <a class="navbar-brand" href="{{ path('admin.index') }}">BadCynton</a>
                {% else %}
                    <a class="navbar-brand" href="{{ path('index') }}">BadCynton</a>
                {% endif %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item"><a class="nav-link {% if current_menu == 'index' %} active {% endif %}" href="{{ path('admin.index') }}">Calendrier</a></li>
                            <li class="nav-item"><a class="nav-link {% if current_menu == 'lesson' %} active {% endif %}" href="{{ path('admin.lesson.index') }}">Mes cours</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link {% if current_menu == 'index' %} active {% endif %}" href="{{ path('index') }}">Calendrier</a></li>
                            <li class="nav-item"><a class="nav-link {% if current_menu == 'lesson' %} active {% endif %}" href="{{ path('lesson.index') }}">Mes cours</a></li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav">
                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <!-- <a href="{{ path('admin.lesson.index') }}" class="dropdown-item">Cours</a> -->
                                    <a href="{{ path('admin.user.index') }}" class="dropdown-item">Élèves</a>
                                    <a href="{{ path('admin.theme.index') }}" class="dropdown-item">Thèmes</a>
                                    <a href="{{ path('admin.club.index') }}" class="dropdown-item">Club</a>
                                </div>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{{ path('logout') }}" class="nav-link">Se déconnecter</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endif %}
        {% block body %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
            <script>
                $('select').select2();
                $(function () {
                    $('#tooltip').tooltip()
                })
            </script>
        {% endblock %}
    </body>
</html>
